{% extends "base.html" %}

{% block body_class %}view-game{% endblock%}

{% block content %}
<script>
var imageWidth = {{ image.edge_image.width }};
var imageHeight = {{ image.edge_image.height }};
</script>

<div class="modal fade" id="processing-modal" tabindex="-1" role="dialog" aria-labelledby="processing-modal-label" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="processing-modal-label">Processing...</h2>
            </div>
            <div class="modal-body">
                <p>Please wait a few minutes while the server is processing your drawing.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="refresh-modal" tabindex="-1" role="dialog" aria-labelledby="refresh-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="refresh-modal-label">Do you want to refresh the page?</h2>
            </div>
            <div class="modal-body">
                Refreshing the page is necessary if the browser window has been resized. Your progress on the current drawing canvas will <strong>not</strong> be lost.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger refresh">Refresh</button>
            </div>
        </div>
    </div>
</div>

<div class="row title-bar">
    <div class="col-md-4 col-sm-4 placeholder"></div>
    <h2 class="col-md-4 col-sm-4 col-xs-6 title">
    {% if image.url %}
        <a href="{{ image.url }}" target="_blank">{{ image.title }}{% if image.author %} by {{ image.author }}{% endif %}</a>
    {% else %}
        {{ image.title }}{% if image.author %} by {{ image.author }}{% endif %}
    {% endif %}
    </h2>
    <div class="col-md-4 col-sm-4 col-xs-6 score">
        Score: {{ score|floatformat:2 }}
    </div>
</div>
<div id="literally" class="literally"><canvas style="background-image: url('{{ MEDIA_URL }}{{ image.edge_image }}');"></canvas></div>
<div class="append-to-literally-toolbar">
    <form method="post" id="finish-drawing-form">
        {% csrf_token %}
        {{ form.finish_drawing.as_hidden }}
        <button type="submit" class="button success">Finish</button>
    </form>
</div>
{% endblock %}
