<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Contour</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
{% load static %}
        <link rel="stylesheet" href="{{ STATIC_URL }}contour/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}contour/vendor/jasny-bootstrap/css/jasny-bootstrap.min.css">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}contour/css/main.css">

        <script src="{{ STATIC_URL }}contour/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body class="view-main-menu">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="modal fade" id="play-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h2>Draw your own</h2>
                                <p>Just upload your own image and draw away.</p>
                                <form enctype="multipart/form-data" action="/" method="post">
                                    {% csrf_token %}
                                    <div class="fileinput fileinput-new" data-provides="fileinput" id="fileinput">
                                        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                                        <div>
                                            <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="file"></span>
                                            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary" id="upload-btn">Upload</button>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <h2>Flickr (coming soon)</h2>
                                <p>Draw an image from the flickr community.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="wrap">
            <div class="container main-menu">
                <h1 class="logo">Contour</h1>
                <p>
                    <button type="button" class="btn btn-primary btn-lg btn-play" data-toggle="modal" data-target="#play-modal"><i class="fa fa-pencil-square-o"></i> Play</button>
                </p>

                <div class="panel-group" id="accordion-options">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                    <i class="fa fa-cog"></i> Options
                                </a>
                            </div>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="" checked>
                                        Track highscore
                                    </label>
                                </div>

                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                        Normal
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                        Time challenge
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="footer">
            <div class="container">
                <footer>
                    <p>
                        <span class="item"><a href="about.html">About</a></span>
                        <span class="item"><a href="highscores.html">Highscores</a></span>
                    </p>
                    <p>
                        <span class="item">&copy; Hiroyuki Sakai 2014</span>
                    </p>
                </footer>
            </div>
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}contour/js/vendor/jquery-2.1.0.min.js"><\/script>')</script>

        <script src="{{ STATIC_URL }}contour/js/vendor/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}contour/vendor/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>

        <script src="{{ STATIC_URL }}contour/js/plugins.js"></script>
        <script src="{{ STATIC_URL }}contour/js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
